body{
    background-color: #06675a;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    position: relative;
    height: 50%;
}
img{
    width: 100%;
    margin: 0px;
}
#lista-compras{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: rgba(211, 211, 211, 0.575);
    height: 800px;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}
#lista-compras h1{
    text-align: center;    
}
button{
    position: absolute;
    left: 264px;
    top: 60px;
}
.lista-mercado {
    font-size: 1.2em;
    line-height: 2em;
    margin-left: 20px;
    margin-top: 50px;
}
footer{
    height: 25px;
    background-color: #06675a;
    color: whitesmoke;
    font-style: italic;
    margin: 0px;
    font-size: 0.8em;
}
#rodape{
    margin: 10px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}
footer a:hover{
    cursor: pointer;
}